[target]
runner = { default = "xtensa-lx106-elf-gdb -q -x openocd.gdb" }

[build]
rustflags = [
  "-C", "link-arg=-nostartfiles",
  "-C", "link-arg=-Wl,-Tlink.x",
]
target = "xtensa-esp8266-none-elf"

[unstable]
build-std = ["core"]

[alias]
f = "espflash --release"
fm = "espmonitor --release --target xtensa-esp8266-none-elf /dev/ttyUSB0 --flash"
m = "espmonitor --release --target xtensa-esp8266-none-elf /dev/ttyUSB0"
