[target.xtensa-esp8266-none-elf]
runner = "./flash.wsl.sh"

[build]
rustflags = [
  "-C", "link-arg=-nostartfiles",
  "-C", "link-arg=-Wl,-Tlink.x",
  #"-C", "target-features=+longcall",
]
target = "xtensa-esp8266-none-elf"

[unstable]
build-std = ["core"]

[alias]
f = "espflash flash --release -p /dev/ttyUSB0"
#fm = "espmonitor --release --target xtensa-esp8266-none-elf /dev/ttyUSB0 --flash" # не работает с патченым espflash
m = "espmonitor --release --target xtensa-esp8266-none-elf --speed 9600 /dev/ttyUSB0"
